* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
 
    a:hover {
        color: #fff;
    }

    a:active {
        color: #fff;
    }

body {
    width:1280px;
    margin:0px auto!important;
    font-size: 12px;
    font-family: "微软雅黑,Arial";
}

ul:after, .loginBox:after {
    content: "";
    display: block;
    clear: both;
}

input:focus {
    outline: none;
}

.clear {
    clear: both;
}
/*header start*/
.bodyBg {
    background: #f1f4f9; 
}

.index-img {
    height: 400px;
    width:1280px;
    background: url(../Content/Images/banner.jpg) no-repeat left center;
    background-size: 100%;
}

.headTop {
    height: 58px;
    line-height: 58px;
    padding: 10px 35px 20px;
}

.menu, .login {
    display: inline-block;
}

.menu {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background: url(../Content/Images/menu_icon.png) no-repeat left center;
    background-size: 65%;
    float: left;
    cursor: pointer;
}


.login {
    float: right;
    line-height: 50px;
    position: relative;
    top: -56px;
}

    .login a {
        color: #fff;
        margin-right: 10px;
    }

.brand {
    width: 428px;
    margin: 0px auto;
    margin-top: 27px;
}

.search {
    width: 570px;
    height: 58px;
    margin: 20px auto;
    position: relative;
    z-index: 1;
}

.searchBg {
    width: 590px;
    height: 54px;
    position: absolute;
    top: 0px;
    background:#FFFFFF;
    opacity: 0.3;
    z-index: 1;
}

.searchList {
    position: absolute;
    background: #fff;
    z-index: 2;
    top: 5px;
    left: 5px;
    width: 580px;
    height: 44px;
    border: 1px solid #f1eeee;
}

    .searchList .text {
        width: 530px;
        height: 44px;
        line-height: 44px;
        background: none;
        border: none;
        color: #ccc;
        padding: 0px 7px;
        float: left;
    }

    .searchList .btn {
        width: 38px;
        height: 38px;
        background: url(../Content/Images/bigger.png) no-repeat center center #4585ff;
        background-size: 50%;
        border: none;
        margin-top: 2px;
        cursor: pointer;
    }

.searchKey {
    position: absolute;
    left:5px;
    top: 65px;
    width:295px;
    height:20px;
}

    .searchKey a {
        font-size: 14px;
        color: #fff;
        padding-right: 10px;
    }
    .searchKey a:hover {
      text-decoration:none;
    }

    .tableList a:hover {
      text-decoration:none;
    }

    .dsearch a:hover {
      text-decoration:none;
    }
/*index content*/
.wrapper {
    width: 1280px;
    margin: 0px auto;
}

.dataList {
    width: 490px;
    height: 60px;
    background: #fff;
    float: left;
    margin: 10px 0px;
    text-align: center;
}
.dataText{
    position:relative;
    top:5px;
}

.dataBox .dataList:nth-child(2n+1) {
    margin-right: 1.2%;
}

.dataBox .dataItem {
    width:478px;
    height: 48px;
    border: 1px solid #f3f5f4;
    margin: 7px;
    padding-top: 3px;
}

    .dataBox .dataItem span:nth-child(2n+1) {
        margin-right: 15px;
    }

.dataBox {
    margin-top:10px;
    margin-left:10%;
}
.listBox {
    padding-left:10px;
}
.index ul li {
    float: left;
    width: 235px;
    height: 235px;
    position: relative;
    margin-right: 14px;
    margin-bottom: 15px;
}

    .index ul li.mr0 {
        margin-right: 0px;
    }

    .index ul li .img {
        position: absolute;
        top: 0px;
        left: 0px;
    }

        .index ul li .img img {
            width: 235px;
            height: 235px;
        }

    .index ul li .text {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }

        .index ul li .text a {
            color: #fff;
        }

            .index ul li .text a span {
                font-family: "Arial";
                font-size: 14px;
            }

.listBox li {
    cursor: pointer;
}

    .listBox li .shadow {
        background: #000;
        opacity: 0.7;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;

    }

    .listBox li .layer {
        position: absolute;
        top: 35px;
        width: 100%;
        z-index: 2;
        display: none;
        font-family:"黑体";
       
    }

        .listBox li .layer .tit {
            font-size: 1.5em;
            border-bottom: 1px solid #fff;
            color: #fff;
            margin: 0px 25px;
            padding-bottom: 15px;
        }

      .listBox li .layer .tit  a{
           font-size:22px;
        }

        .listBox li .layer dl {
            margin-left: 25px;
            margin-top: 10px;
        }

            .listBox li .layer dl dd {
                height: 24px;
                line-height: 24px;
                list-style: circle;
                color: #fff;
                background: url(../Content/Images/list-icon.jpg) no-repeat left center;
                padding-left: 20px;
            }

                .listBox li .layer dl dd a {
                    font-size:14px;
                    text-decoration: none;
                    color: #fff;
                }

.index ul li:hover .shadow {
    display: block;
}

.index ul li:hover .layer {
    display: block;
}

.index ul li:hover .text {
    display: none;
}

/*footer*/
footer {
    width:1280px;
    height: 145px;
    background: #4c4d51;
    padding: 20px 90px;
    box-sizing:padding-box;
    margin-left:0px;
    margin-bottom:0px;
}

    footer > div {
        display: inline-block;
        float: left;
    }

.logo_foot {
    margin-top: 28px;
}

.center {
    width: 550px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
}

.menu_foot a {
    font-family:"黑体";
    padding-right: 44px;
    color: #fff;
}
    .menu_foot a:hover{
    text-decoration:none;
    }
.copyright {
    margin-top: 10px;
    color: #FFFFFF;
    line-height: 18px;
}

.partner {
    margin-top: 10px;
}

 

.right {
    float: right;
}

    .right dl {
        margin-bottom: 20px;
    }

        .right dl dt {
            color: #C9C9C9;
        }

        .right dl dd {
            font-size: 16px;
            color: #C9C9C9;
        }

/*企业环境信息*/
.insideHeader {
    height: 60px;
    padding: 0px 35px;
    margin:0 auto;
    background-color: transparent;
    position: absolute;
    width: 1280px;
    text-align:center;
}

    .insideHeader a {
        color: #fff;
        font-size: 12px;
        font-family:黑体;
    }

.top_backimg {
    visibility: hidden;
    margin: 0px auto;
    width: 237px;
    line-height: 56px;
}

.insideCon .title {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e6e9ee;
    background: url(../Content/Images/line.jpg) no-repeat 20px center;
    padding-left: 10px;
    position: relative;
}

    .insideCon .title h1 {
        font-size: 16px;
        color: #54585b;
        font-weight: normal;
        margin-left: 20px;
    }

        .insideCon .title h1 span {
            padding-left: 10px;
        }

    .insideCon .title a {
        position: absolute;
        top: 3px;
        right: 20px;
        color: #333;
    }

.insideCon .content {
    padding: 20px 0px;
}

.insideCon .pd20 {
    padding: 20px;
}


.businessInfo ul li img {
    width: 100%;
    height: 181px;
}
.picList {
width:100%;
align-content:center;
}

.picList li {
    width: 320px;
    height: 315px;
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
    background: #fff;
}

    .picList li h1 {
        font-size: 16px;
        color: #555;
        padding: 15px 20px;
    }

    .picList li h1 a {
        color: #555;
    }
    .picList li a:hover{
        text-decoration:none;
    }

    .picList li .text {
        font-family:PingFang-SC-Regular;
        padding: 0px 0px;
        line-height: 20px;
        color: #555;
    }

    .picList li.mr0 {
        margin-right: 0px;
    }

.insideCon .tit {
    background: none;
    padding-left: 0px;
}

    .insideCon .tit b {
        color: #4585ff;
        font-weight: normal;
    }

.textList li {
    width: 100%;
    height: 90px;
    padding: 20px 0px;
    background: #fff;
    margin-bottom: 20px;
    position: relative;
}

    .textList li .text {
        width: 905px;
        margin-left: 20px;
        display: inline-block;
        float: left;
    }

        .textList li .text h1 {
            margin-bottom: 15px;
        }

            .textList li .text h1 a {
                color: #5c5c5c;
            }

        .textList li .text p {
            line-height: 24px;
            color: #555;
            font-size: 14px;
        }

    .textList li .more {
        width: 10px;
        height: 14px;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        right: 40px;
    }

/*page*/
.page {
    text-align: center;
}

    .page a {
        padding: 10px 15px;
        border: 1px solid #c6cbd1;
        margin-right: 10px;
        color: #5c5c5c;
    }

    .page span {
        margin-right: 10px;
    }

    .page input {
        background: none;
        width: 70px;
        height: 34px;
        line-height: 34px;
        border: 1px solid #c6cbd1;
        color: #d8dde3;
        margin-right: 10px;
        text-align: center;
    }

    .page a:hover {
        color: #4585ff;
        border: 1px solid #4585ff;
    }
.menu_foot a:hover {
      color: #4585ff;
}


.insideBg {
    background: #fff;
    /*margin:79px 0px;*/
    padding: 20px;
}

/*法律声明*/

.legalNotic h1 {
    font-size: 16px;
    color: #767676;
    margin-top: 30px;
}

.legalNotic p {
    margin: 5px 0px;
}

.legalNotic .style1 {
    color: #878787;
    font-size: 14px;
    line-height: 24px;
}

/*login*/
.loginBox {
    width: 100%;
    min-height: 240px;
    text-align: center;
}

    .loginBox .img {
        width: 50%;
        float: left;
    }

    .loginBox .img {
        width: 50%;
        height: 200px;
        background: url(../Content/Images/login-bg1.jpg) no-repeat center center;
        background-size: 100%;
        float: left;
    }

    .loginBox form {
        width: 50%;
        float: left;
    }

        .loginBox form .inpText, .loginBox form .inpCode {
            width: 70%;
            height: 30px;
            line-height: 30px;
            margin-bottom: 10px;
            color: #ccc;
        }

        .loginBox form .inpCode {
            width: 40%;
        }

        .loginBox form .inputList img {
            width: 20%;
            height: 30px;
            background: #f00;
        }

        .loginBox form .inputList button {
            width: 70%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin-bottom: 10px;
        }


/*contact us*/

.contactUs .img {
    width: 45%;
    float: left;
    margin-left: 5%;
}

.contactUs .contactUsCon {
    width: 50%;
    float: left;
    padding-top: 20px;
}

    .contactUs .contactUsCon h1 {
        margin-bottom: 10px;
    }

    .contactUs .contactUsCon p {
        font-size: 14px;
        height: 24px;
        line-height: 24px;
        color: #7a7a7a;
    }

/*aboutUs*/
.aboutUs .tit {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e6e9ee;
    padding: 0px 10px;
}

    .aboutUs .tit ul li {
        float: left;
    }

        .aboutUs .tit ul li a {
            color: #333;
            padding: 0px 10px;
            font-size: 14px;
            display: inline-block;
            margin-right: 20px;
        }

        .aboutUs .tit ul li.on a {
            color: #377fff;
            border-bottom: 2px solid #377fff;
        }

.imgBox {
    background: #fafafa;
    border: 1px solid #eef0f2;
    text-align: center;
    padding: 10px 0px;
    margin: 5px 0px;
}

.aboutUsCon .Con {
    display: none;
}

    .aboutUsCon .Con span {
        display: block;
    }

.aboutUsCon .on {
    display: block;
}

.aboutUsCon .Con .text {
    line-height: 24px;
    color: #555;
    font-size: 14px;
}

.aboutUsCon .Con h2 {
    color: #555;
    margin: 5px 0px;
}

.mt20 {
    margin-top: 20px;
}

.borderT {
    border-top: 2px solid #ebedf0;
    padding-top: 5px;
    font-size:16px;
}

/*空气质量*/
h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px;
}

h4 {
    font-weight:normal;
}

.style2 {
    line-height: 24px;
    color: #555;
    font-size: 14px;
}

.tableStyle {
    border: 1px solid #e6e9ee;
    border-right: none;
}

    .tableStyle tr, .tableStyle td {
        height: 40px;
        line-height: 40px;
    }

    .tableStyle tr {
        background: #fcfcfc;
    }

    .tableStyle td {
        border-top: 1px solid #e6e9ee;
        border-right: 1px solid #e6e9ee;
    }

    .tableStyle th {
        border-right: 1px solid #e6e9ee;
    }

.line {
    width: 100%;
    height: 1px;
    background: #e6e9ee;
}

.mg20 {
    margin: 0px 20px;
}

.mt20 {
    margin-top: 20px;
}

.downloadList span, .checkList span {
    font-size: 14px;
    line-height: 24px;
}

.downloadList input {
    height: 32px;
    line-height: 32px;
    color: #555;
    padding: 0px 5px;
}

.checkList .checkListItem {
    line-height: 24px;
    display: inline-block;
    position: relative;
    padding-right: 10px;
}

    .checkList .checkListItem input {
        position: relative;
        top: 3px;
    }

    .checkList .checkListItem span {
        position: relative;
        top: 1px;
    }

.btn {
    height: 35px;
    line-height: 35px;
    padding: 0px 15px;
    background: #4388fd;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
}

    .btn a {
        color: #fff;
    }

.tableStyle1 th, .tableStyle1 td {
    border-right: none;
}

.tableStyle1 {
    border-right: 1px solid #e6e9ee;
}

    .tableStyle1 tr td:first-child, .tableStyle1 tr th:first-child {
        text-align: left;
        padding-left: 10px;
    }

        .tableStyle1 tr td:first-child input {
            position: relative;
            top: 2px;
        }

.notic span {
    color: #f00;
    padding-right: 5px;
}

.tableStyle1 tr th, .tableStyle1 tr td {
    color: #a0a0a0;
}


.menuItem {
    position: absolute;
    width: 1280px;
    height: 200px;
    top: 0px;
    left: 0px;
    display: none;
}

.closeBtn {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1000;
    font-size: 16px;
    font-weight: bold;
    color:#939393;
    cursor:pointer;
}
 
.menuItem ul li {
    width: 12.5%;
    min-height: 200px;
    float: left;
}

.menuItem ul {
    position: relative;
    top: 60px;
    z-index: 1000;
    border-top: 1px solid #666;
}

.bgShadow {
    background: #fff;
    width: 100%;
    height: 265px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.8;
    z-index: 999;
}

.menuItem ul li div {
    padding-left: 30px;
    min-height: 150px;
    border-right: 1px dotted #666;
    margin-top: 20px;
}

.menuItem ul li span {
    display: block;
    color: #69696a;
    font-size: 14px;
    margin-bottom: 10px;
}


.menuItem ul li a {
    display: block;
    color: #636363;
    font-size: 14px;
    line-height: 24px;
}

.menuItem ul li:last-child div {
    border-right: none;
}
/*补充list20170527 zxs start*/
 .listBoxH {
     padding-left: 133px;
     margin-bottom: 0px; 
     margin-top: 10px;
     height:310px;
}
.listBoxW {
   width:3% !important;
   background-image:none  !important;
   padding-top:110px;
}
#myCarousel {
    height:270px;
}

#scrollGonggao {
  background-color:transparent;
  overflow: hidden; 
  width:80%;
  position: absolute; 
  left: 10%; 
  top: 0;
}
.dowebok {  position: absolute;font-size: 14px;}
.dowebok a { margin: 0 15px; color:#F0F0F0; text-decoration: none;font-size:15px;}
.dowebok a:hover { text-decoration-line: none;color:#F8F8FF}
/*补充list20170527 zxs end*/