@{
    ViewBag.Title = "法律声明";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .insideHeader {
        background-color: white;
        position: relative;
    }

        .insideHeader a {
            color: black;
            font-size: 12px;
        }

    .top_backimg {
        visibility: visible;
        margin: 0px auto;
        width: 237px;
        line-height: 56px;
    }

    .menu {
        background: url(../../Content/Images/inset_menu.jpg) no-repeat left center;
    }
</style>
<div style="width: 2000px;margin:-60px 0px 61px -300px; background-color: white; height: 60px"></div>
<div class="container" style="padding: 40px 0px;">
    <div class="insideCon insideBg">
        <div class="title" style="margin-left:-10px;margin-top:-30px">
            <h1>法律声明</h1>
        </div>
        <div class="content pd20">
            <div class="legalNotic">
                <h1>一、 网站上声明信息</h1>
                <p class="style1">
                    本网站上关于绿色数据会员或他们的产品（包括但并不限于公司名称、联系人及联络信息，产品的描述和说明，相关图片、视讯等的信息均由会员自行提供，会员依法应对其提供的任何信息承担全部责任。人人环保网对此等信息的准确性、完整性、合法性或真实性均不承担任何责任）。此外，人人环保网对任何使用或提供本网站信息的商业活动及其风险不承担任何责任。
                </p>
                <p class="style1">
                    未经合法权利人的书面许可，任何人严禁在本网站展示产品图片。任何未经授权便在本网站上使用该图片都可能违法国际法，商标法，隐私权法，通讯，通信等法律法规。
                </p>
                <p class="style1">
                    浏览者可以下载本网站上显示的资料，但这些资料只限用于个人的学习未经合法权利人的书面许可，任何人严禁在本网站展示产品图片。任何未经授权便在本网站上使用该图片都可能违法国际法，商标法，隐私权法，通讯，通信等法律法规。
                </p>
                <h1>二、 版权和商标声明</h1>
                <p class="style1">
                    本网站上关于绿色数据会员或他们的产品（包括但并不限于公司名称、联系人及联络信息，产品的描述和说明，相关图片、视讯等的信息均由会员自行提供，会员依法应对其提供的任何信息承担全部责任。人人环保网对此等信息的准确性、完整性、合法性或真实性均不承担任何责任）。此外，人人环保网对任何使用或提供本网站信息的商业活动及其风险不承担任何责任。
                </p>
                <h1>三、 隐私声明</h1>
                <p class="style1">
                    浏览者可以下载本网站上显示的资料，但这些资料只限用于个人的学习未经合法权利人的书面许可，任何人严禁在本网站展示产品图片。任何未经授权便在本网站上使用该图片都可能违法国际法，商标法，隐私权法，通讯，通信等法律法规。
                </p>
                <h1>四、 免责声明</h1>
                <p class="style1">
                    浏览者可以下载本网站上显示的资料，但这些资料只限用于个人的学习未经合法权利人的书面许可，任何人严禁在本网站展示产品图片。任何未经授权便在本网站上使用该图片都可能违法国际法，商标法，隐私权法，通讯，通信等法律法规。
                </p>
            </div>
        </div>
    </div>
</div>
