@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .insideHeader {
        background-color: white;
        position: relative;
    }

        .insideHeader a {
            color: black;
            font-size: 12px;
        }

    .top_backimg {
        visibility: visible;
        margin: 0px auto;
        width: 237px;
        line-height: 56px;
    }

    .menu {
        background: url(../../Content/Images/inset_menu.jpg) no-repeat left center;
    }
</style>
<div style="width: 2000px;margin:-60px 0px 61px -300px; background-color: white; height: 60px"></div>
<div class="container" style="padding: 40px 0px;">
    <div class="insideCon insideBg">
        <div class="title" style="margin-left:-10px;margin-top:-30px">
            <h1>关于我们</h1>
            <a href="#" class="more">更多></a>
        </div>
        <div class="content pd20">
            <div class="aboutUs">
                <div class="tit" id="titList">
                    <ul>
                        <li class="on">
                            <a href="#">使命与价值</a>
                        </li>
                        <li>
                            <a href="#">绿色和平在中国</a>
                        </li>
                        <li>
                            <a href="#">历史故事</a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="aboutUsCon" id="conList">
                    <div class="Con on">
                        <span class="text"><br />绿色和平存在，因为脆弱的地球需要改变、需要行动</span>
                        <span class="img0 imgBox">
                            <img src="~/Content/Images/pic32.jpg" alt="">
                            <p>一位非洲的小朋友正在倾听和了解绿色和平是谁</p>
                        </span>
                        <span class="text">
                            <br />
                            绿色和平是一个全球性环保组织，致力于以实际行动推动积极改变，保护地球环境和世界和平。绿色和平成立于1971年，目前在世界55个国家和地区设有分部，拥有超过300万名支持者。为了保护公正性和独立性，绿色和平不接受任何政府、企业或政府团体的资助，只接受市民和独立基金的直接选款。我们在全球的工作，都基于共同的理念：<br />
                            1. 我们相信积极行动会带来改变；<br />
                            2. 我们以和平、非暴力的方式，见证环境破坏；<br />
                            3. 我们推动公开的，有充分信息支持的环境议题讨论，以便让全社会对解决方案达成共识；<br />
                            4. 我们将环境问题呈现给公众，以非暴力直接行动的方式提升全社会对问题的认识和理解；<br />
                            5. 我们的工作是为了揭露环境危机及解决问题，我们没有永远的盟友和敌人；<br />
                            6. 为了保证公正性和独立性，绿色和平不接受任何政府、企业或政治团体的资助，只接受市民和独立基金的直接捐款；<br />
                            7. 在推动项目时，我们会充分尊重民生，并寻求对全球不同地区、阶层都公平的解决方案。<br /><br />

                            保护地球的使命无法单靠绿色和平来完成，唯有结合公众力量，才能够让地球变得更绿色、更和平
                        </span>
                    </div>
                    <div class="Con">
                        <span class="text"><br />绿色和平致力于提升中国公众对环境问题的整体关注和认知，解释解决污染问题的重要性和紧迫性，并推动企业做出环保承诺与改进；同时促使相关部门简历全面有效的环保管理体系，完善相关法规制度。</span>
                        <span class="text borderT mt20">绿色和平致力于提升中国公众对环境问题的整体关注和认知，解释解决污染问题的重要性和紧迫性，并推动企业做出环保承诺与改进；同时促使相关部门简历全面有效的环保管理体系，完善相关法规制度。快速浏览我们取得的一些工作成果：揭露知名企业污染物违规排放，绿色和平组织toxic-1于2009年中旬开始对世界500强和中国上市公司100强企业在华污染记录进行了调查，于当年10月发布了《沉默的大多数》调查报告，批评包括壳牌、雀巢、中国石化、东风汽车和湖南有色在内的18家中外企业存在隐瞒污染排放物信息的违规行为。该报告的发布得到了各级环保部门和多家公司的回应，并促使各级环保部门对企业环境信息公开执行情况的调查。2010年4月6日，环保部下达通知，进一步明确了环保不达标企业需定期公布其环境信息的渠道和内容。</span>
                        <span class="img0 imgBox">
                            <img src="~/Content/Images/aboutus1.png" alt="">
                            <p>揭露知名企业污染物违规排放</p>
                        </span><br /><br />
                        <h2 class="borderT">推动众知名企业解除与毁林大鳄业务往来</h2>
                        <span class="text">绿色和平在包括中国在内的主要市场国家开展游说工作，推动一些著名国际品牌担负企业社会责任，停止采购金光集团棕榈油（GAR）及纸制品（APP），以通过市场手段共同促使金光集团尽快停止破环印度尼西亚热带雨林。联合利华（Unilever）、雀巢（Nestle）、麦得龙（METRO）等企业纷纷停止与金光集团旗下棕榈油公司GAR以及纸业公司APP的全部业务来往。</span>
                        <span class="img0 imgBox">
                            <img src="~/Content/Images/aboutus2.png" alt="">
                            <p>“红猩猩”要求雀巢停止购买导致雨林遭受破坏的棕榈油</p>
                        </span>
                        <br /><br />
                        <h2 class="borderT">揭露煤炭污染问题</h2>
                        <span class="text">绿色和平发布的一系列报告，揭露煤炭在中国导致的环境损失、公众健康影响等问题，得到了决策者、行业和媒体的广泛认可。其中2010年的粉煤灰调查，收到超过900万人次的浏览并获得了中国总理温家宝的办公室的重点批示，下令相关政府部门根据该调查结果展开调查，并促成了绿色和平和工信部及发改委官员的一系列对话，针对粉煤灰污染和循环利用等课题展开讨论。</span>
                        <span class="img0 imgBox">
                            <img src="~/Content/Images/aboutus3.png" alt="">
                            <p>距离内蒙古呼和浩特市托克托电厂五分钟车程的粉煤灰场</p>
                        </span>
                        <br /><br />
                        <h2 class="borderT">推动食品生产企业不使用转基因原料</h2>
                        <span class="text">绿色和平持续推动食品生产企业向消费者做出不适用转基因原料的承诺。2010年，国内包装米企业巨头中粮集团与益海嘉里集团分别做出旗下大米品牌不出售转基因大米的承诺。此外，我们还推动啤酒、白酒、米酒等使用大米作为（部分）原料的企业承诺产品不适用转基因大米。目前，共有73个知名厂商做出了不使用转基因原料的承诺，绿色和平据此制作了《避免转基因食品指南》，以方便消费者做出购物选择。</span>
                        <span class="img0 imgBox">
                            <img src="~/Content/Images/aboutus4.png" alt="">
                            <p>2010避免转基因食品指南</p>
                        </span>
                        <br /><br />
                        <h2 class="borderT">推动超市避免采购使用剧毒高毒农药的果蔬</h2>
                        <span class="text">绿色和平通过实地调查、直接沟通、法律诉讼等方式，持续推动超市避免转基因食品，并在其出售的生鲜散装蔬果谷物上杜绝剧毒高毒类农药。截至2010年底，绿色和平成功推动5家连锁超市作出完整承诺，在其自有品牌产品和生鲜散装蔬果谷物产品中拒绝转基因；另有4家超市已给出部分承诺或采取部分积极举措，并向全面承诺做出努力。</span>
                        <span class="img0 imgBox">
                            <img src="~/Content/Images/aboutus5.png" alt="">
                            <p>2009年7月，绿色和平销毁沃尔玛超市的掺了“农药鸡尾酒”的桃子</p>
                        </span>
                    </div>
                    <div class="Con">
                        <span class="text"><br /><b>1971年9月，12名怀揣着共同梦想的人从加拿大温哥华起航，驶往阿姆奇特卡岛（Amchitka Island），阻止美国在那里进行核试验。他们在半旧的渔船上挂了一条横幅，上面写着---“绿色和平”。</b><br />
                        尽管在中途遭到美国军方阻拦，他们的行动却触发了舆论和公众声援。次年美国终于放弃阿姆奇特卡岛的核试验。这次小小的行动点燃了星星之火。绿色和平在此后的几十年里最终成长成为全球最有影响力的环保组织之一。我们继承了创始人勇敢独立的精神，坚信以行动促使成改变。
                        <br/></span>
                        <p class="borderT">名字的由来</p>
                        <span class="text">关于为什么会将“绿色”与“和平”这两个单词放在一起﹖众说纷纭。比较多人认同的故事是这样的：1970年2月，一位年轻的加拿大社会工作者比尔•达尼尔(Bill Darnell)在一次“不要兴风作浪” (Don't Make A Wave Committee)委员会的会议上将这两个词组合在一起，用来称呼前往阿姆奇特卡进行抗议的船只。美国从1965年起，就在位于阿拉斯加以西近岸的阿姆奇特卡岛进行地下核试验。由于阿姆奇特卡岛位于不稳定的中洋脊地域，而中洋脊是一条环绕地球的断层线，因此在这里进行地下核试验倍受争议。反核试验的情绪空前高涨，尤以核试场地附近的加拿大不列颠哥伦比亚省为最。1969年，美国计划引爆一枚约100万吨当量的炸弹。核试验的当天，有一万多名示威者阻塞着美加边境的主要通道。他们竖起写着“别再兴风作浪了。如果地壳断层发生变化，那都是你们惹的祸”的抗议标语。虽然这次试验并未引发地震及海啸，但却激起了人们反对核试验的情绪。当1971年美国宣布将在阿姆奇特卡岛进行一次520万顿当量的核试验时，人们展开了新一轮的游行示威。和平主义者吉姆•波伦(Jim Bohlen)和欧文•斯托(Irving Stowe)都强烈反对这次即将进行的核试验。波伦和斯托与他们的妻子玛丽(Marie) 和多萝西(Dorothy)，以及保罗•科特(Paul Cote)一起成立了名为“别兴风作浪委员会” 的组织。组织的目标是要驾船进入核试验地点，阻止核爆。经过多次会议，“绿色和平”这个名字给创造出来了。波伦认为，“别兴风作浪”这个名字由多个单词组成，有意思却不够丰富，而一个短小易记的名字十分重要。年轻的加拿大社会工作者比尔•达尼尔将绿色与和平这两个单词放在一起，结合了对地球的关注和远离核武器的期盼。</span>
                        <span class="img0 imgBox">
                            <img src="~/Content/Images/aboutus6.png" alt="">
                            <p>参与绿色和平首次行动的成员</p>
                        </span>
                        <p class="borderT">行动，带来改变</p>
                        <span class="text">1971年，为了实现抗议核试验的使命，绿色和平的成员们租下了一艘长24米的渔船“菲利斯•科马克(Phyllis Cormack)”号，并集合了不同背景的的船员，包括工程师、医生、音乐家、科学家和木匠等12个来自不同行业的人，启航见证，也希望这次行动能让更多人认识到核试验的危险。其中还有几位记者，包括温哥华太阳报的记者罗伯特•亨特(Robert Hunter)、加拿大广播公司的记者本•梅特卡夫(Ben Metcalfe)、来自佐治亚直言报的鲍勃•卡明斯(Bob Cummings)。绿色和平的成员向阿拉斯加以西近岸的阿姆奇特卡岛前行时，向新闻媒体发出了多份报道。此时，美国政府宣布，核试验将被推迟一个月以上，给绿色和平此次航行埋下了众多不确定因素。冬天临近与天气恶化让阿姆奇特卡岛周围的海域也变得越来越危险，诸多因素导致“ 菲利斯•科马克”号的船长约翰•科马克(John Cormack)最后宣布放弃抗议，回航！尽管阻止核试验的尝试最终失败了，但我们的行动向世人证明了：行动真的能带来改变！从这个意思上说，这次航行绝对是成功的——由于民众强烈反对阿姆奇特卡岛核试验，尼克松总统在第二年不得不宣布取消计划。阿姆奇特卡岛最终回归宁静，成为一个鸟类栖息地。阿姆奇特卡岛抗议行动确立了绿色和平以后的行动模式。通过公众舆论的影响力，绿色和平成员们就会打赢他们的环保战役。一场独特的运动由此诞生了……在此后的几十年里，绿色和平逐渐发展成为全球最有影响力的环保组织之一。我们继承了创始人勇敢独立的精神，坚信以行动促成改变。同时，我们通过研究、教育和游说工作，推动政府、企业和公众共同寻求环境问题的解决方案。</span>
                        <span class="img0 imgBox">
                            <img src="~/Content/Images/aboutus7.png" alt="">
                            <p>绿色和平Phyllis Cormack号</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        window.onload = function () {
            var oTit = document.getElementById('titList');
            var oCon = document.getElementById('conList');
            var aLi = oTit.getElementsByTagName('li');
            var aDiv = oCon.getElementsByTagName('div');
            for (var i = 0; i < aLi.length; i++) {
                aLi[i].index = i;
                aLi[i].onclick = function () {
                    for (var i = 0; i < aLi.length; i++) {
                        aLi[i].className = '';
                        aDiv[i].className = 'Con';
                    }
                    this.className = 'on';
                    aDiv[this.index].className = 'Con on';
                }
            }
        }
    </script>
}