@{
    ViewBag.Title = "帮助中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .insideHeader {
        background-color: white;
        position: relative;
    }

        .insideHeader a {
            color: black;
            font-size: 12px;
        }

    .top_backimg {
        visibility: visible;
        margin: 0px auto;
        width: 237px;
        line-height: 56px;
    }

    .menu {
        background: url(../../Content/Images/inset_menu.jpg) no-repeat left center;
    }

    .helpcenterblock {
        margin: 10px 20px;
    }

    .answer {
        border: 1px solid #ccc;
        padding: 15px;
        background-color: #FBFBFB;
        color: #8A8989;
    }
</style>
<div style="width: 2000px;margin:-60px 0px 61px -300px; background-color: white; height: 60px"></div>
<div class="container">
    <div style="padding-top:58px;">
        <div class="search">
            <div class="searchList">
                <input type="text" class="text" id="text-search" placeholder="请输入要搜索的关键字">
                <input type="button" class="btn" id="btn-search">
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding: 40px 0px;">
    <div class="insideCon insideBg">
        <div class="title" style="margin-left:-10px;margin-top:-30px">
            <h1>帮助中心</h1>
        </div>
        <div class="content pd20">
            <div style="margin:50px auto; width:888px;">
                <div class="helpcenterblock">
                    <h4 class="question">1、常见问题问题名称</h4>
                    <p class="answer">答：本网站关于绿色数据会员或他们的产品（包括但不限于公司名称、联系人及联络信息，产品的描述和说明，相关图片、视讯等）的信息均由会员自行提供，会员依法应对其提供的任何信息承担全部责任。人人环保网对此等信息的准确性、完整性、合法性或真实性均不承担任何责任。此外，人人环保网对任何使用或提供本网站信息的商业活动及其风险不承担任何责任。</p>
                </div>
                <div class="helpcenterblock">
                    <h4 class="question">2、常见问题问题名称</h4>
                    <p class="answer">答：本网站关于绿色数据会员或他们的产品（包括但不限于公司名称、联系人及联络信息，产品的描述和说明，相关图片、视讯等）的信息均由会员自行提供，会员依法应对其提供的任何信息承担全部责任。人人环保网对此等信息的准确性、完整性、合法性或真实性均不承担任何责任。此外，人人环保网对任何使用或提供本网站信息的商业活动及其风险不承担任何责任。</p>
                </div>
                <div class="helpcenterblock">
                    <h4 class="question">3、常见问题问题名称</h4>
                    <p class="answer">答：本网站关于绿色数据会员或他们的产品（包括但不限于公司名称、联系人及联络信息，产品的描述和说明，相关图片、视讯等）的信息均由会员自行提供，会员依法应对其提供的任何信息承担全部责任。人人环保网对此等信息的准确性、完整性、合法性或真实性均不承担任何责任。此外，人人环保网对任何使用或提供本网站信息的商业活动及其风险不承担任何责任。</p>
                </div>
                <div class="helpcenterblock">
                    <h4 class="question">4、常见问题问题名称</h4>
                    <p class="answer">答：本网站关于绿色数据会员或他们的产品（包括但不限于公司名称、联系人及联络信息，产品的描述和说明，相关图片、视讯等）的信息均由会员自行提供，会员依法应对其提供的任何信息承担全部责任。人人环保网对此等信息的准确性、完整性、合法性或真实性均不承担任何责任。此外，人人环保网对任何使用或提供本网站信息的商业活动及其风险不承担任何责任。</p>
                </div>
                <div class="helpcenterblock">
                    <h4 class="question">5、常见问题问题名称</h4>
                    <p class="answer">答：本网站关于绿色数据会员或他们的产品（包括但不限于公司名称、联系人及联络信息，产品的描述和说明，相关图片、视讯等）的信息均由会员自行提供，会员依法应对其提供的任何信息承担全部责任。人人环保网对此等信息的准确性、完整性、合法性或真实性均不承担任何责任。此外，人人环保网对任何使用或提供本网站信息的商业活动及其风险不承担任何责任。</p>
                </div>
            </div>
        </div>
    </div>
</div>
